html
  head
    title Oops!
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css")
    style.
      .container {
        padding: 4em 0;
        text-align: center;
      }
  body
    div.container 
      h1 Ooops! 
      p Looks like you followed a bad link!